html, body{
  background: url(/icelandic-times.jpg) no-repeat center center fixed; 
  background-size: cover;

}

.App {
  margin: 0;
}

.App-header {
  margin: 0 auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
